@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush');
@import url('https://fonts.googleapis.com/css2?family=Lato');

$Purple: #8B1874;
$lightPurple: #b71375;
$Orange: #fc4f00;
$lightOrange: #f79540;
$sectionBackground: #615c57;
$primary-font: 'Alex Brush', cursive;
$secondary-font: 'Lato', sans-serif;

:root {
  --Purple: #{$Purple};
  --lightPurple: #{$lightPurple};
  --Orange: #{$Orange};
  --lightOrange: #{$lightOrange};
  --sectionBackground: #{$sectionBackground};
  --primary-font: #{$primary-font};
  --secondary-font: #{$secondary-font};
}

body {
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--lightOrange);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  
  .logo {
    font-family: var(--primary-font);
    font-size: 36px;
    font-weight: bold;
    color: var(--Purple);
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin-right: 20px;
    
    li {
      margin-left: 20px;
      
      a {
        text-decoration: none;
        color: #fff;
        font-family: var(--secondary-font);
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: all 0.3s ease;
        
        &:hover {
          color: var(--Purple);
        }
      }
    }
  }
  
  @media only screen and (max-width: 768px) {
    .logo {
      font-size: 24px;
    }
    
    nav ul {
      margin-right: 0;
      
      li {
        margin-left: 10px;
        
        a {
          font-size: 14px;
        }
      }
    }
  }
}

section {
  padding: 20px 0;
  background-color: var(--sectionBackground);
  
  .slider-container {
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    
    .slider {
      display: flex;
      position: relative;
      
      img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
        align-self: center;
      }
     
    }
    .banner-promo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
        
        h1 {
          font-family: (--primary-font);
          font-size: 36px;
          margin-bottom: 20px;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
          color: var(--lightOrange);
          
          span {
            font-size: 48px;
            color: var(--Purple);
          }
        }
        
        p {
          font-style: italic;
          font-size: 15px;
          line-height: 1.5;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
          color: #fff;
        }
    } .navigation {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        
        button {
          background-color: var(--Purple);
          color: #fff;
          border: none;
          padding: 10px 20px;
          margin: 0 10px;
          border-radius: 5px;
          cursor: pointer;
          transition: all 0.3s ease;
          
          &:hover {
            background-color: var(--lightPurple);
            color: #fff;
            box-shadow: 0px 2px 2px rgba(0,0, 0, 0.1);
          }
        }
      }

  }
}

.contact-form {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 50px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  
  h1 {
    margin-bottom: 20px;
    font-family: var(--primary-font);
    font-size: 36px;
    color: var(--lightOrange);
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    
    label {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
      color: var(--Purple);
    }
    
    input,
    textarea {
      padding: 10px;
      margin-bottom: 20px;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }
    
    textarea {
      height: 150px;
    }
    
    button {
      background-color: var(--lightOrange);
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
      
      &:hover {
        background-color: var(--Orange);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      }
    }
  }
  .contact-info{
    li{
        list-style: none;
    }
 }
}