@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush");
@import url("https://fonts.googleapis.com/css2?family=Lato");
:root {
  --Purple: #8B1874;
  --lightPurple: #b71375;
  --Orange: #fc4f00;
  --lightOrange: #f79540;
  --sectionBackground: #615c57;
  --primary-font: Alex Brush, cursive;
  --secondary-font: Lato, sans-serif;
}

body {
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: var(--primary-font);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--lightOrange);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
header .logo {
  font-family: var(--primary-font);
  font-size: 36px;
  font-weight: bold;
  color: var(--Purple);
  text-transform: uppercase;
  letter-spacing: 2px;
}
header nav ul {
  display: flex;
  list-style: none;
  margin-right: 20px;
}
header nav ul li {
  margin-left: 20px;
}
header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
header nav ul li a:hover {
  color: var(--Purple);
}
@media only screen and (max-width: 768px) {
  header .logo {
    font-size: 24px;
  }
  header nav ul {
    margin-right: 0;
  }
  header nav ul li {
    margin-left: 10px;
  }
  header nav ul li a {
    font-size: 14px;
  }
}

section {
  padding: 20px 0;
  background-color: var(--sectionBackground);
}
section .slider-container {
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
section .slider-container .slider {
  display: flex;
  position: relative;
}
section .slider-container .slider img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
  align-self: center;
}
section .slider-container .banner-promo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
section .slider-container .banner-promo h1 {
  font-family: --primary-font;
  font-size: 36px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: var(--lightOrange);
}
section .slider-container .banner-promo h1 span {
  font-size: 48px;
  color: var(--Purple);
}
section .slider-container .banner-promo p {
  font-style: italic;
  font-size: 15px;
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
}
section .slider-container .navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
section .slider-container .navigation button {
  background-color: var(--Purple);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
section .slider-container .navigation button:hover {
  background-color: var(--lightPurple);
  color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.contact-form {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 50px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.contact-form h1 {
  margin-bottom: 20px;
  font-family: var(--primary-font);
  font-size: 36px;
  color: var(--lightOrange);
}
.contact-form form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}
.contact-form form label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--Purple);
}
.contact-form form input,
.contact-form form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.contact-form form textarea {
  height: 150px;
}
.contact-form form button {
  background-color: var(--lightOrange);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact-form form button:hover {
  background-color: var(--Orange);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.contact-form .contact-info li {
  list-style: none;
}/*# sourceMappingURL=homepage.css.map */